<ion-content>

  <form (ngSubmit)="submitAddressForm()">
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input type="text"  [(ngModel)]="formAdress.city" name="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Post code</ion-label>
      <ion-input type="text" [(ngModel)]="formAdress.postCode" name="postCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Street</ion-label>
      <ion-input type="text" [(ngModel)]="formAdress.street" name="street"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">House Number</ion-label>
      <ion-input type="text" [(ngModel)]="formAdress.houseNumber" name="houseNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Box Number</ion-label>
      <ion-input type="text" [(ngModel)]="formAdress.boxNumber" name="boxNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input type="text" [(ngModel)]="formAdress.country" name="country"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" block>Suivant</ion-button>
  </form>

</ion-content>
