<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
   
  <ion-slides class="header-img" pager="true">
    <ion-slide>
        <ion-thumbnail class="img-header-thumbnail" slot="start">
          <ion-img class="img-header" src="../assets/image/beer.jpg"></ion-img>
        </ion-thumbnail>
    </ion-slide>
    <ion-slide>
      <ion-thumbnail class="img-header-thumbnail" slot="start">
        <ion-img class="img-header" src="../assets/image/legumes.jpg"></ion-img>
      </ion-thumbnail>
    </ion-slide>
    <ion-slide>
      <ion-thumbnail class="img-header-thumbnail" slot="start">
        <ion-img class="img-header" src="../assets/image/deco.jpg"></ion-img>
      </ion-thumbnail>
    </ion-slide>   
  </ion-slides>
<ion-item>
  <ion-slides class="slides-menu" [options]="slideOpts">
    <ion-slide class="slide-menu" *ngFor="let category of categories" (click)="showCategory(category.id)">
      <span>
        <img [src]="imageUrl+category.pictures" alt="">
        <ion-label>{{category.name}}</ion-label>
      </span>
    </ion-slide>
  </ion-slides>
</ion-item>
<div *ngFor="let category of productByCategories">
    <ion-item>
      <ion-label>{{category.category.name}} promo</ion-label>
    </ion-item>
    <ion-item>
      <ion-slides class="slides-menu" [options]="slideOpts">
        <ion-slide class="slide-menu" *ngFor="let product of category.listProduct">
          <span>
            <img [src]="imageUrl+product.pictures[0]" alt="">
            <ion-label>{{product.name}}</ion-label>
            <ion-label>{{product.price}} €</ion-label>
          </span>
        </ion-slide>
       
      </ion-slides>
    </ion-item>

    </div>
    
  </ion-list>
 
</ion-content>
