.header-img {
  flex-direction: column;
  background: rgb(39,45,54);
}

.img-header {
  object-fit: resize;
  height: 100%;
  width: auto !important;
  border: 0;
  padding: 0;
  background-color: grey;
}

.img-header-thumbnail{
  width: 100%;
  height: auto;
}

.icon-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
span{
  padding-left: 2px!important;
  padding-right: 2px!important;
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  width: 85px!important;
  height: 70px!important;

}
.slide-menu:hover{
  background: rgba(205, 9, 9, 0.43);
  cursor: pointer;

}
span img{
  width: 55px;
  height: 55px;
}


.slide-menu {
  width: 90px!important;
  height: 85px!important;
  background-color:  #FFF;
  float: left;
  margin-left: 1.5px!important;
  margin-right: 1.5px!important;
  
}
.slide-menu{
  background-color:  rgba(194, 193, 194, 0.52);
}